{#
/**
 * @file
 * Theme override to display an oEmbed resource in an iframe.
 */
#}
{% if video_langcode is empty %}
{% set video_langcode = 'und' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ video_langcode }}">
  <head>
    <title>{{ resource.title }} | Media | Blogs</title>
    <css-placeholder token="{{ placeholder_token }}">
  </head>
  <body style="margin: 0">
    <h1 style="visibility: hidden">{{ resource.title }}</h1>
    {{ media|raw }}
  </body>
</html>
